<div id="<%= dom_id restaurant %>">
  <p>
    <strong>Name:</strong>
    <%= restaurant.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= restaurant.address %>
  </p>

  <p>
    <strong>Phone Number:</strong>
    <%= restaurant.rating %>
  </p>

   <p>
    <strong>Category:</strong>
    <%= restaurant.rating %>
  </p>
</div>

<div id="<%= dom_id review %>">
 <p>
    <strong>Rating:</strong>
    <%= review.rating %>
  </p>
   <p>
    <strong>Content:</strong>
    <%= review.content %>
  </p>
</div>
